header { 
    background-color: rgb(50, 235, 13)
  
    }
body {
    background-color: aqua; 
}
button { background-color: rgb(226, 198, 43);
    text-align: center;
    height: 50px;
    width: 60px;

}
h1 { 
    text-align: center;
    color: blue;
    font-size: 100px; 
    margin-top: 100px;
      
    
}
  p {
    font-size: 30px;
    margin-left: 50px;

  }
   
    img {
        margin-left: 300px;
    }
    
h4 {
    text-align: center;
    color: red;
    font-size: 20px;
    margin-top: 100px;
}
.output {
    color: red;
    font-size: 100px;
    text-align: center;
}